@import "bootstrap";

body {
  background-color: #f5f5f5;
}

#main {
  padding-top: 20px;
  background-color: #ffffff;
}

footer {
  padding: 20px;
}

footer ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
