
.docs h1 {
  color: #939393;
  font-size: 30px;
}

.docs h2 {
  color: #939393;
  font-size: 28px;
}

.docs h3 {
  margin-top: 20px;
  margin-bottom: 15px;
  color: #607a84;
  font-size: 18px;
}

.docs h4 {
}

.docs h5 {
}

.docs h6 {
}

.docs ul {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #607a84;
}

.side-module ul {
  list-style-type: none;
  padding-left: 0px;
}

.side-module ul li {
  border-top-color: #efefef;
  border-top-style: solid;
  border-top-width: 1px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.side-module h2 {
  padding-left: 10px;
  text-transform: uppercase;
  color: #939393;
  font-size: 16px;
}

.side-module .item {
  border-top-color: #efefef;
  border-top-style: solid;
  border-top-width: 1px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.docs p {
  line-height: 20px;
}

.docs a:hover {
  color: #db631b;
}

.getting_started_button {
  padding: 10px;
  font-size: 23px;
  background-color: #f37021;
  border-radius: 5px;
  color: white;
}

a.getting_started_button:hover {
  color: white;
  text-decoration: none;
  background-color: #fa7221;
}
