<nav class="navbar navbar-default nav-bar-static-top" role="navigation" style="margin-bottom: 0px;">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/blog">Blog</a></li>
      <li><a href="/">Documentation</a></li>
    </ul>
    <a class="navbar-brand" href="/">
      <img src="/images/boxci-logo-sm.png" style="height: 40px; margin-top: -10px;" alt="boxci logo">
    </a>
  </div>
</nav>
