<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <div class="copyright_and_logo">
          <a href="http://reachlocal.com" style="display: block; float: left;">
            <img src="/images/reachlocal_logo.png" style="height: 50px;" alt="ReachLocal Inc. Logo">
          </a>
          <div style="float: left; margin-left: 20px; margin-top: 17px;">
            &copy; ReachLocal Inc.
          </div>
          <div style="clear: both;"></div>
        </div>
      </div>

      <div style="margin-top: 17px;">
        <div class="col-xs-4">
        </div>

        <div class="col-xs-1">
          <ul>
            <li><a href="irc://chat.freenode.net/%23boxci">IRC</a></li>
          </ul>
        </div>
        <div class="col-xs-1">
          <ul>
            <li><a href="http://github.com/reachlocal/boxci">GitHub</a></li>
          </ul>
        </div>
        <div class="col-xs-1">
          <ul>
            <li><a href="http://github.com/reachlocal/boxci/issues">Issues</a></li>
          </ul>
        </div>
        <div class="col-xs-1">
          <ul>
            <li><a href="/feed.xml">Blog Feed</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</footer>
