# BoxCI Documentation

This is intended to be a jumping point for you to easily get to the
documentation you are interested in.

## New to BoxCI?

If you are new to BoxCI we recommend you go straight to the [Getting
Started](/guides/getting_started) guide.

<div style="text-align: center; margin: 30px;">
  <a href="/guides/getting_started" class="getting_started_button">Getting Started</a>
</div>
