# BoxCI Documentation

This document exists to provide a jumping point for you to easily jump to the
documentation you are interested in.

## New to BoxCI?

If you are new to BoxCI we recommend you go straight to the [Getting
Started](/guides/getting_started.html) guide.

<div style="text-align: center; margin: 30px;">
  <a href="/guides/getting_started.html" class="getting_started_button">Getting Started</a>
</div>

