# BoxCI Documentation

This is intended to be a jumping point for you to easily get to the
documentation you are interested in.

## New to BoxCI?

If you are new to BoxCI we recommend you check out the intro video below and
go straight to the [Getting Started](/guides/getting_started) guide.

<div style="text-align: center; margin: 30px;">
  <a href="/guides/getting_started" class="getting_started_button">Getting Started</a>
</div>

### Quick Intro

For a quick approx. 7 min intro please watch the video below. It walks through
the BoxCI three step process: init, build, test. It takes you through a direct
real world example of getting the
[snapdragon](https://github.com/reachlocal/snapdragon) open source project
setup and working with BoxCI.

<div style="text-align: center;">
  <iframe src="//player.vimeo.com/video/90954024" width="500" height="313" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
